#if($reporterFirstName)
Здравствуйте, $reporterFirstName!
#else
Здравствуйте!
#end
Мы получили вашу заявку.

В службу поддержки приходит 100-150 заявок в день, и мы отвечаем на них в порядке поступления.
Обычно мы успеваем ответить за 3 рабочих дня.
Не переживайте, если мы не ответим сегодня и завтра — скорее всего, мы еще не дошли до вашей заявки.

Возможно, ответ на ваш вопрос уже есть на help.megaplan.ru

Пока ваша заявка в очереди, можете прислать нам:
— подробное описание проблемы со скриншотами;
— скринкаст, в котором видно, как возникает проблема. Для записи используйте сервисы вроде screenr.com или screencast-o-matic.com

С этой информацией мы разберемся с проблемой быстрее.

Чтобы уследить за всеми заявками, система поддержки автоматически присваивает им номера.
Номер вашей заявки — $jirakeyutils.getCountFromKey($issue.getKey()). Он есть в теме этого письма.
Пожалуйста, сохраняйте номер во время переписки.

Всего доброго!

Команда поддержки Мегаплана.
