#if($reporterFirstName)
Здравствуйте, $reporterFirstName.
#else
Здравствуйте.
#end
Вашей заявке присвоен номер $jirakeyutils.getCountFromKey($issue.getKey())

Ответ специалиста технической поддержки придет Вам на почту в ближайшее время.

Содержание Вашей заявки:
------------------------------------
$!issue.description
------------------------------------

Помощь по Мегаплану - http://help.megaplan.ru/
Телефон в Москве: (495) 640-65-99
Бесплатная круглосуточная горячая линия: 8 800 555-65-99

#if($megaplanLogin)
Вы получили это сообщение, так как являетесь контактным лицом по аккаунту $megaplanLogin.
#end
