<p>
    #if($reporterFirstName)
        Здравствуйте, $reporterFirstName!
    #else
        Здравствуйте!
    #end
</p>
Мы получили вашу заявку.<br/>
<br/>
В службу поддержки приходит 100-150 заявок в день, и мы отвечаем на них в порядке поступления.<br/>
Обычно мы успеваем ответить за 3 рабочих дня.<br/>
Не переживайте, если мы не ответим сегодня и завтра — скорее всего, мы еще не дошли до вашей заявки.<br/>
<br/>
Возможно, ответ на ваш вопрос уже есть на <a href="http://help.megaplan.ru">help.megaplan.ru</a><br/>
<br/>
Пока ваша заявка в очереди, можете прислать нам:<br/>
— подробное описание проблемы со скриншотами;<br/>
— скринкаст, в котором видно, как возникает проблема. Для записи используйте сервисы вроде <a href="http://screenr.com">screenr.com</a> или <a href="http://screencast-o-matic.com">screencast-o-matic.com</a><br/>
<br/>
С этой информацией мы разберемся с проблемой быстрее.<br/>
<br/>
Чтобы уследить за всеми заявками, система поддержки автоматически присваивает им номера.<br/>
Номер вашей заявки — <b>$jirakeyutils.getCountFromKey($issue.getKey())</b>. Он есть в теме этого письма.<br/>
Пожалуйста, сохраняйте номер во время переписки.<br/>
<br/>
Всего доброго!<br/>
<br/>
Команда поддержки Мегаплана.
